<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marvelopedia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [routerLink]="['characters']">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [routerLink]="['comics']">Comics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [routerLink]="['series']">Series</a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container active" id="home"></div>
        <div class="tab-pane container fade" id="menu1">...</div>
        <div class="tab-pane container fade" id="menu2">...</div>
      </div>
    <router-outlet></router-outlet>
</div>

</body>
</html>